doctype html
head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="description",content="")
    title= "SCVLogger"
    link(href="/css/bootstrap.css",rel="stylesheet")
    link(href="/css/bootstrap-theme.min.css",rel="stylesheet")
    link(href="/css/chosen.min.css",rel="stylesheet")
    link(href="/css/app.css",rel="stylesheet")

body
    div.navbar.navbar-inverse.navbar-fixed-top
        div.container
            div.navbar-header
                button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/logs") SCVLogger
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/logs") Logs
                    li
                        a(href="/errors") Errors
                ul.nav.navbar-nav.pull-right.urnav
                    li
                        span.label.label-warning=data.clientsNum
                    li --
                    li
                        select#fType.chosenselect
                            option(value="*",selected="selected") Any data received
                            option(value="logs") Only logs
                            option(value="errors") Only errors
                    li //
                    li
                        select#dLimit.chosenselect
                            option(value="10",selected="selected") Last 10
                            option(value="100") Last 100
                            option(value="200") Last 200
                            option(value="500") Last 500
                            option(value="1000") Last 1000 (Dom?)

    div.container
        div.row#bodym
            block content


    script(src='/js/jquery.min.js')
    script(src='/js/underscore-min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/chosen.jquery.min.js')
    script(src='/js/prettyprint.js')
    script(src='/socket.io/socket.io.js')


    block bodyEnd
