extends defaults

block content
    div#bodym.row
        div.col-md-3
            div.panel.panel-default
                div.panel-heading
                    h3.panel-title Actions
                div.panel-body
                    label(for=he_user) Users in Database
                    select#he_user.chosenselect
                    div(style="height:5px;")
                    //select#ed_user.chosenselect
                    //div(style="height:5px;")
                    button#get_user_data.btn.btn-sm.btn-success(type="button") Get User Data
                    div(style="height:15px;")
                    button#remove_userads.btn.btn-sm.btn-warning(type="button") Delete imported Ads
                    div(style="height:15px;")
                    //label(for=ed_user) Emlakdevri Users
                    //select#ed_user.chosenselect
                    //div(style="height:5px;")
                    //button#ed_user_search.btn.btn-sm.btn-success(type="button") Search ED user
                    //div(style="height:15px;")

        div.col-md-9
            div#display.well(style="height:640px")


block bodyEnd
    script(type='text/javascript').
        var config = !{JSON.stringify(config)};

    script(src='/js/cli_user_data.js')

