#bodym {
    margin-top: 36px;
}

#display {
    overflow: scroll;
}

pre {  }
span.string { color: green; }
span.number { color: darkorange; }
span.boolean { color: blue; }
span.null { color: magenta; }
span.key { color: red; }


pre.logs {
    background-color: #b9ffcb;
}

pre.errors {
    background-color: #ffb5bd;
}