#bodym {
    margin-top: 36px;
}

#display {
    overflow: scroll;
}

pre { border-color: #fffce1; }
span.string { color: green; }
span.number { color: darkorange; }
span.boolean { color: blue; }
span.null { color: magenta; }
span.key { color: red; }


pre.info { border-color: #3734ff; }

pre.logs { border-color: #b750ff; }

pre.errors { border-color: #ff0504; }

span.tsd {
    float:right;
    background-color: #3a87ad; color: #ffffff;
}

.urnav {
    margin-top: 15px;
}